<div class="container">
  <table>
    <thead>
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Phone</th>
        <th width="250px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contactsList; let i = index;">
        <td>{{(isUpdated && i === id) ? <input formControlName="firstName" id="firstName" type="text" class="form-control"> : contact.firstName}}</td>
        <td>(isUpdated && i === id) ? <input formControlName="lastName" id="lastName" type="text" class="form-control"> {{contact.lastName}}</td>
        <td>(isUpdated && i === id) ? <input formControlName="phone" id="phone" type="text" class="form-control"> {{contact.phone}}</td>
        <td>
          <button class="btn-custom" (click)="update(contact.id)">Update</button>
          <button class="btn-custom" (click)="delete(contact.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <form [formGroup]="form">
    <!-- <div *ngIf="isAdd"> -->
      <div class="form-group">
        <label for="firstName">FirstName:</label>
        <input formControlName="firstName" id="firstName" type="text" class="form-control">
        <div *ngIf="f['firstName'].touched && f['firstName'].invalid" class="alert alert-danger">
            <div *ngIf="f['firstName'].errors && f['firstName'].errors['required']">FirstName is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="title">LastName:</label>
        <input 
            formControlName="lastName" id="lastName" type="text" class="form-control">
        <div *ngIf="f['lastName'].touched && f['lastName'].invalid" class="alert alert-danger">
            <div *ngIf="f['lastName'].errors && f['lastName'].errors['required']">LastName is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Phone:</label>
        <input 
            formControlName="phone" id="phone" type="number" class="form-control">
        <div *ngIf="f['phone'].touched && f['phone'].invalid" class="alert alert-danger">
            <div *ngIf="f['phone'].errors && f['phone'].errors['required']">Phone is required.</div>
        </div>
      </div>
    <!-- </div> -->
    <div>
      <button class="btn-custom" [disabled]="form.invalid" (click)="add()">Add</button>
      
    </div>
  </form>
</div>